<app-header backButton="/auth" title="Recuperar cuenta"></app-header>

<ion-content>

   
    <div class="d-flex-center">

        <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

            <app-logo></app-logo>

            <p class="ion-tex-center">Te enviaremos un email para que puedas recuperar tu contraseña.<br> (Si no recibes el correo en tu bandeja de entrada recuerda revisar en tu carpeta de spam)</p>

            <app-custom-input icon="mail-outline" autocomplete="email" [control]="form.controls.email" type="email"
                label="correo"></app-custom-input>

            <div class="validator" *ngIf="form.controls.email.errors && form.controls.email.touched">
                <div class="validator" *ngIf="form.controls.email.errors?.['required']">Este campo es obligatorio</div>
                <div class="validato" *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
            </div>

            <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
Recuperar contraseña               
 <ion-icon slot="end" name="arrow-forward"></ion-icon>

            </ion-button>
        </form>
    </div>




</ion-content>